
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* div p{
    font-size: 25px;
    color: blue;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
} */


.parent .Child-2{
    font-size: 25px;
    color: blue;
    font-weight: bold;
    text-align: center;
    text-decoration: underline; 
}

article > h1{
    font-size: 40px;
    color: green;
    font-style: italic;
    font-weight: lighter;
}

/* a{
    border: 1px solid grey;
    padding: 20px 40px;
    margin: 20px 20px 20px;
   
} */

a:active{
    font-size: 30px;
}

img{
    height: 200px;
    width: 150px;
    border-radius: 10px;
    border: 3px solid grey;
    padding: 30px;
  
}

.css-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    text-align: left;
    color: brown;
    text-decoration: line-through;
    line-height: 50px;
    word-spacing: 20px;
    letter-spacing: 5px;
}

.purple{
    width: 100px;
    height: 100px;
    background-color: purple;
}

.orange{
    width: 100px;
    height: 100px;
    background-color: orange;
}

.green{
    width: 100px;
    height: 100px;
    background-color: green;
    visibility: hidden;
}